{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}
    <h1>Utilisateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdUser</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>MotDePasse</th>
                <th>Telephone</th>
                <th>Role</th>
                <th>DateCreation</th>
                <th>PieceIdentite</th>
                <th>UserImage</th>
                <th>DateDerniereConnexion</th>
                <th>Email</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.idUser }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.motDePasse }}</td>
                <td>{{ utilisateur.telephone }}</td>
                <td>{{ utilisateur.role }}</td>
                <td>{{ utilisateur.dateCreation ? utilisateur.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ utilisateur.pieceIdentite }}</td>
                <td>{{ utilisateur.userImage }}</td>
                <td>{{ utilisateur.dateDerniereConnexion ? utilisateur.dateDerniereConnexion|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.statut }}</td>
                <td>
                    <a href="{{ path('app_utilisateur_show', {'idUser': utilisateur.idUser}) }}">show</a>
                    <a href="{{ path('app_utilisateur_edit', {'idUser': utilisateur.idUser}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_utilisateur_new') }}">Create new</a>
{% endblock %}
